body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 64px;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 400px;
}

.secondary {
    font-size: 18px;
    text-decoration: none;
    color:#e5e7eb;
}

.secondary:hover {
    color:#3882f6;
}

.herotwo {
    color:#e5e7eb;
    font-size: 18px;
    max-width: 375px;
}

.heroimg {
    display: flex;
    max-width: 800px;
    height: auto;
    flex: 1;
    min-width: 0;
    justify-content: center;
    align-items: center;
}

.random{
    font-weight: 900;
    padding: 16px ;
    font-size: 36px;
    color: #1f2937;
}

.middle {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middletext {
    display: flex;
    flex: 1;
    max-width: 180px;
    padding: 16px 48px;
}

.squareimg {
    max-width: 240px;
    min-width: 0;
    height: auto;
    border: solid 1px #3882f6;
    margin: 8px 16px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.logo {
    font-weight: 800;
    padding-top: 16px;
}

.title {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 32px 120px;
    gap: 16px;
}

.tcontainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color:#1f2937;
    display: flex;
    padding: 64px 150px;
    align-items: center;
    justify-content: center;
}

.action {
    color:#f9faf8;
    background-color: #3882f6;
    padding: 16px 32px;
    margin: 32px 90px;
    border-radius: 8px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.acontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;
}

button {
    width: 80px;
    height: auto;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: solid #f9faf8 1px;
    padding: 5px;
    margin: 5px;
}